{% extends 'layouts/base-layout.html' %}
{% load static %}

{% block title %}
Thêm mới bài hát
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/light/tomSelect/custom-tomSelect.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/dark/tomSelect/custom-tomSelect.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/tomSelect/tom-select.default.min.css' %}">
<style>
    .ts-control{
           padding: 12px;
      }
</style>
{% endblock %}

{% block content %}
<div>
    <!-- BREADCRUMB -->
    <div class="page-meta">
        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Bài hát</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'song_index' %}">Quản lý bài hát</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm mới bài hát</li>
            </ol>
        </nav>
    </div>
    <!-- /BREADCRUMB -->

    <div class="layout-top-spacing col-12">
        <a href="{% url 'song_index' %}" class="btn">
            Trở lại
        </a>
    </div>

    <div class="row layout-top-spacing">
        <div id="user-management" class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Thêm mới</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="col-12">
                        <form action="{% url 'song_create' %}" id="general-settings" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="Name">Tên bài hát <strong class="text-danger">*</strong></label>
                                        <input name="title"
                                               type="text"
                                               id="title"
                                               class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                                               placeholder="Tên Bài hát"
                                               value="{{ form.title.value|default:'' }}">
                                        {% for error in form.title.errors %}
                                        <span class="invalid-feedback" role="alert">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="image_url">Ảnh đại diện <strong class="text-danger">*</strong></label>
                                        <input name="image"
                                               type="file"
                                               id="image_url"
                                               accept="image/*"
                                               required
                                               class="form-control {% if form.image_url.errors %}is-invalid{% endif %}">
                                        {% for error in form.image_url.errors %}
                                        <span class="invalid-feedback" role="alert">{{ error }}</span>
                                        {% endfor %}
                                        <img id="selected-avatar" style="display: none; max-width: 50%; height: auto;" alt="Selected Image">
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="file_url">File âm thanh <strong class="text-danger">*</strong></label>
                                        <input name="file"
                                               type="file"
                                               id="file_url"
                                               accept="audio/*"
                                               required
                                               class="form-control {% if form.file_url.errors %}is-invalid{% endif %}">
                                        {% for error in form.file_url.errors %}
                                            <span class="invalid-feedback" role="alert">{{ error }}</span>
                                        {% endfor %}
                                        <audio id="audio-preview" controls style="display: none; margin-top: 10px; width: 100%;">
                                            <source id="audio-source" src="" type="audio/mpeg">
                                            Trình duyệt không hỗ trợ audio.
                                        </audio>
                                    </div>
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="video_file">File video <strong class="text-danger">*</strong></label>
                                        <input name="video_file"
                                               type="file"
                                               id="video_file"
                                               accept="video/*"
                                               class="form-control {% if form.video_file.errors %}is-invalid{% endif %}">
                                        {% for error in form.video_file.errors %}
                                            <span class="invalid-feedback" role="alert">{{ error }}</span>
                                        {% endfor %}
                                        
                                        <!-- Xem trước video -->
                                        <video id="video-preview" controls style="display: none; margin-top: 10px; width: 100%;">
                                            <source id="video-source" src="" type="video/mp4">
                                            Trình duyệt không hỗ trợ video.
                                        </video>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="artist">Nghệ sĩ <strong class="text-danger">*</strong></label>
                                        <select name="artist" id="sArtist" class="form-control {% if form.artist.errors %}is-invalid{% endif %}">
                                            <option value="" selected disabled>-- Chọn nghệ sĩ --</option>
                                            {% for artist in artists %}
                                            <option value="{{ artist.id }}">
                                                {{ artist.name }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        {% for error in form.artist.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            <!--  ALBUM -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="album">Album <strong class="text-danger">*</strong></label>
                                        <select name="album" id="sAlbum" class="form-control {% if form.album.errors %}is-invalid{% endif %}">
                                            <option value="" selected disabled>-- Chọn album --</option>
                                            {% for album in albums %}
                                            <option value="{{ album.id }}">
                                                {{ album.title }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        {% for error in form.album.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <!-- GENRE -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="genre">Thể loại <strong class="text-danger">*</strong></label>
                                        <select name="genre" id="sGenre" class="form-control {% if form.genre.errors %}is-invalid{% endif %}">
                                            <option value="" selected disabled>-- Chọn thể loại --</option>
                                            {% for genre in genres %}
                                            <option value="{{ genre.id }}">
                                                {{ genre.name }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        {% for error in form.genre.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            

                            <button type="submit" class="btn btn-primary">Hoàn tất</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="{% static 'plugins/tomSelect/tom-select.base.js' %}"></script>
<script src="{% static 'plugins/tomSelect/custom-tom-select.js' %}"></script>
<script>
    new TomSelect("#sArtist", {
        placeholder : "Chọn nghệ sĩ",
        sortField : {
            field : "text",
            direction : "asc"
        }
    });
    
    new TomSelect("#sAlbum", {
        placeholder : "Chọn album",
        sortField : {
            field : "text",
            direction : "asc"
        }
    });

    new TomSelect("#sGenre", {
        placeholder : "Chọn thể loại",
        sortField : {
            field : "text",
            direction : "asc"
        }
    });

    const fileInput = document.getElementById('file_url');
    const audioPreview = document.getElementById('audio-preview');
    const audioSource = document.getElementById('audio-source');

    fileInput.addEventListener('change', function (e) {
        const file = e.target.files[0];
        if (file) {
            const url = URL.createObjectURL(file);
            audioSource.src = url;
            audioPreview.load();
            audioPreview.style.display = 'block';
        } else {
            audioPreview.style.display = 'none';
        }
    });
</script>

{% endblock %}