{% extends 'layouts/base-layout.html' %} 
{% load static %} 
{% load user_filters %}

{% block title %}
Quản lý bài hát
{% endblock %} 

{% load custom_filters %}

{% block custom_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'plugins/table/datatable/datatables.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'plugins/table/datatable/extensions/col-reorder/col-reorder.datatables.min.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'plugins/table/datatable/extensions/fixed-columns/fixed-columns.datatables.min.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/plugins/light/table/datatable/dt-global_style.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/plugins/dark/table/datatable/dt-global_style.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/plugins/light/table/datatable/custom_dt_custom.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/plugins/dark/table/datatable/custom_dt_custom.css' %}"
/>
{% endblock %} 

{% block content %}
<div>
  <!-- BREADCRUMB -->
  <div class="page-meta">
    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Bài hát</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Quản lý bài hát
        </li>
      </ol>
    </nav>
  </div>
  <!-- /BREADCRUMB -->

  <!-- DATATABLE -->
  <div class="row layout-top-spacing">
    <div class="col-xl-12 col-lg-12 col-sm-12">
      <div class="statbox widget box box-shadow">
        <div class="widget-header">
          <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
              <h4>Quản lý bài hát</h4>
            </div>
          </div>
        </div>
        <div class="widget-content widget-content-area">
          {% has_permission user 'cores.add_song' as can_view_song %}
          {% if can_view_song %}
          <div class="layout-top-spacing ps-3 pe-3 col-12 mb-3">
            <a href="{% url 'song_create' %}" class="btn btn-primary"
              >Thêm mới</a
            >
          </div>
          {% endif %}
          <table
            id="song-table"
            class="table style-3 dt-table-hover"
            style="width: 100%"
          >
            <thead>
                <tr>
                    <th style="width: 5%">ID</th>
                    <th style="width: 30%">Ảnh</th>
                    <th style="width: 15%">Tên</th>
                    <th style="width: 20%">Chi tiết</th>
                    <th>Thời lượng</th>   
                    <th>Video</th>
                    <th>Ngày tạo</th>
                    <th class="no-content" style="width: 5%">Thao tác</th>
                  </tr>
                  
            </thead>
            <tbody>
              {% for song in songs %}
              <tr>
                <td>{{ song.id }}</td>
                <td>
                  {% if song.image_url %}
                  <img src="/media/{{ song.image_url }}" alt="Ảnh đại diện" style="max-width: 150px; height: auto;">
                  {% else %}
                  <span>Không có ảnh</span>
                  {% endif %}
                </td>
                <td>{{ song.title }}</td>
                <td>
                  <p class="text-start me-1">
                      Thể loại:
                      <span class="text-primary">{{ song.genre.name }}</span>
                  </p>
                  <p class="text-start me-1">
                      Ca sĩ:
                      <span class="text-primary">{{ song.artist.name }}</span>
                  </p>
                  <p class="text-start me-1">
                      Album:
                      <span class="text-primary">
                        {% if song.album %}
                        {{ song.album.title }}
                        {% else %}
                          Không có
                        {% endif %}
                      </span>
                  </p>
                </td>  


                <td>
                  <p class="text-start me-1">
                      Thời lượng:
                      <span class="text-primary">{{ song.duration_video|duration_format }}</span>
                  </p>
                  <p class="text-start me-1">
                      Lượt nghe:
                      <span class="text-primary">{{ song.plays_total|default:0 }}</span>
                  </p>
                 
                </td>  
                
                {% url 'song_video' song.id as song_video_url %}
                <td>
                  <a onclick="window.open('{{ song_video_url }}', '_blank')" target="_blank" class="btn-warning p-2 rounded text-nowrap">
                      <svg xmlns="http://www.w3.org/2000/svg"
                          width="24" height="24" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor"
                          stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-eye p-1 br-6 mb-1"
                      >
                          <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                          <circle cx="12" cy="12" r="3"></circle>
                      </svg>VIDEO
                  </a>
                </td>

                <td>{{ song.created_at }}</td>     
                <td
                  class="table-controls justify-content-center align-items-center pt-2"
                >
                  {% has_permission user 'cores.change_song' as can_view_song %}
                  {% if can_view_song %}
                  <li>
                    <a
                      href="{% url 'song_edit' song.id %}"
                      class="bs-tooltip edit"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-edit-2 p-1 br-6 mb-1"
                      >
                        <path
                          d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"
                        ></path>
                      </svg>
                    </a>
                  </li>
                  {% endif %}
                  {% has_permission user 'cores.delete_song' as can_view_song %}
                  {% if can_view_song %}
                  <li>
                    <a
                      href="#"
                      class="bs-tooltip delete"
                      data-song-id="{{ song.id }}"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-trash p-1 br-6 mb-1"
                      >
                        <polyline points="3 6 5 6 21 6"></polyline>
                        <path
                          d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                        ></path>
                      </svg>
                    </a>
                  </li>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /DATATABLE -->
</div>
{% endblock %} 

{% block custom_scripts %}
<script src="{% static 'plugins/table/datatable/datatables.js' %}"></script>
<script src="{% static 'plugins/table/datatable/extensions/col-reorder/col-reorder.datatables.min.js' %}"></script>
<script src="{% static 'plugins/table/datatable/extensions/fixed-columns/fixed-columns.datatables.min.js' %}"></script>
<script>
  $("#song-table").DataTable({
    dom:
      "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
      "<'table-responsive'tr>" +
      "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
    oLanguage: {
      oPaginate: {
        sPrevious:
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
        sNext:
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>',
      },
      sEmptyTable: "Chưa có dữ liệu",
      sInfo: "Đang hiển thị trang _PAGE_ của _PAGES_",
      sSearch:
        '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
      sSearchPlaceholder: "Tìm kiếm...",
      sZeroRecords: "Không có bản ghi nào trùng khớp",
      sLengthMenu: "Kết quả :  _MENU_",
    },
    stripeClasses: [],
    lengthMenu: [7, 10, 20, 50],
    pageLength: 10,
    ordering: false,
  });
</script>

<script>
  $(document).ready(function () {
    let songIdToDelete;

    $(".delete").on("click", function (e) {
      e.preventDefault();
      songIdToDelete = $(this).data("song-id");
      $("#deleteModal").modal("show");
    });

    $("#confirmDelete").on("click", function () {
      $.ajax({
        url: "{% url 'song_delete' 0 %}".replace("0", songIdToDelete),
        type: "POST",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
        success: function (response) {
          Snackbar.show({
            text: "Xóa bài hát thành công",
            textColor: "#ddf5f0",
            backgroundColor: "#00ab55",
            actionText: "Bỏ qua",
            actionTextColor: "#3b3f5c",
          });

          setTimeout(function () {
            location.reload();
          }, 1000);
        },
        error: function () {
          Snackbar.show({
            text: "Xóa bài hát thất bại",
            textColor: "#fbeced",
            backgroundColor: "#e7515a",
            actionText: "Bỏ qua",
            actionTextColor: "#3b3f5c",
          });
        },
      });
      $("#deleteModal").modal("hide");
    });
  });

  document.getElementById('video_file').addEventListener('change', function(event) {
    var file = event.target.files[0];
    var videoLink = document.getElementById('video-link');

    // Kiểm tra nếu file là video và cập nhật link
    if (file && file.type.startsWith('video/')) {
        var videoURL = URL.createObjectURL(file);
        
        // Cập nhật link mở video trong tab mới
        videoLink.setAttribute('href', videoURL);
    } else {
        // Nếu không phải video, ẩn link hoặc gán # để tránh lỗi
        videoLink.setAttribute('href', '#');
    }
  });
</script>
{% endblock %}
