{% extends 'layouts/base-layout.html' %}
{% load static %}

{% block title %}
Chỉnh sửa album
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/light/tomSelect/custom-tomSelect.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/dark/tomSelect/custom-tomSelect.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/tomSelect/tom-select.default.min.css' %}">
<style>
    .ts-control{
           padding: 12px;
      }
</style>
{% endblock %}

{% block content %}
<div>
    <!-- BREADCRUMB -->
    <div class="page-meta">
        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Album</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'album_index' %}">Quản lý Album</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa album</li>
            </ol>
        </nav>
    </div>
    <!-- /BREADCRUMB -->

    <div class="layout-top-spacing col-12">
        <a href="{% url 'album_index' %}" class="btn">
            Trở lại
        </a>
    </div>

    <div class="row layout-top-spacing">
        <div id="user-management" class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Chỉnh sửa</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="col-12">
                        <form action="{% url 'album_edit' album.id %}" id="general-settings" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="Name">Tên album <strong class="text-danger">*</strong></label>
                                        <input name="title"
                                               type="text"
                                               id="title"
                                               class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                                               placeholder="Tên Album"
                                               value="{{ form.title.value|default:'' }}">
                                        {% for error in form.title.errors %}
                                        <span class="invalid-feedback" role="alert">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="release_date">Ngày phát hành <strong class="text-danger">*</strong></label>
                                        <input name="release_date"
                                               type="date"
                                               id="release_date"
                                               class="form-control {% if form.release_date.errors %}is-invalid{% endif %}"
                                               value="{{ form.release_date.value|default:today }}"
                                               max="{{ today }}">
                                        {% for error in form.release_date.errors %}
                                        <span class="invalid-feedback" role="alert">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                                                     
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="image_url">Ảnh đại diện <strong class="text-danger">*</strong></label>
                                        <input name="image"
                                               type="file"
                                               id="image_url"
                                               accept="image/*"
                    
                                               class="form-control {% if form.image_url.errors %}is-invalid{% endif %}">
                                        {% for error in form.image_url.errors %}
                                        <span class="invalid-feedback" role="alert">{{ error }}</span>
                                        {% endfor %}
                                        <img src="/media/{{ album.image_url }}" id="selected-avatar" style="max-width: 50%; height: auto;" alt="Selected Image">
                                    </div>
                                </div>
                            </div>
                            

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="artist">Nghệ sĩ</label>
                                        <select name="artist" id="sArtist" class="form-control {% if form.artist.errors %}is-invalid{% endif %}">
                                            {% for artist in artists %}
                                            <option value="{{ artist.id }}" {% if artist.id == form.artist.value %}selected{% endif %}>
                                                {{ artist.name }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        {% for error in form.artist.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            
                            <button type="submit" class="btn btn-primary">Hoàn tất</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="{% static 'plugins/tomSelect/tom-select.base.js' %}"></script>
<script src="{% static 'plugins/tomSelect/custom-tom-select.js' %}"></script>
<script>
    new TomSelect("#sArtist", {
        placeholder : "Chọn nghệ sĩ",
        sortField : {
            field : "text",
            direction : "asc"
        }
    });

    document.getElementById('image_url').addEventListener('change', function (event) {
        const fileInput = event.target;
        const previewImage = document.getElementById('selected-avatar');

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                previewImage.src = e.target.result;
                previewImage.style.display = 'block';
            };
            reader.readAsDataURL(fileInput.files[0]);
        } else {
            previewImage.style.display = 'none';
            previewImage.src = '';
        }
    });
</script>

{% endblock %}